* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .container {
      margin-top: 164px;
      width: 368px;
      box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
      padding: 16px 16px 20px 16px;
      border-radius: 10px;
    }

    .img {
      padding-bottom: 16px;
    }

    .img img {
      border-radius: 10px;
    }

    .design {
      padding-bottom: 16px;
    }
    .design p{
      font-family: 'Sora',sans-serif;
      font-size: 12px;
      font-weight: bold;
      background-color: #F2EAFD;
      color: #7C19EE;
      padding: 4px 16px;
      width: min-content;
      border-radius: 20px;
      
    }

    .content {
      padding-bottom: 20px;
    }

    .content h1 {
      padding-bottom: 6px;
      font-family: 'Sora', sans-serif;
      font-size: 18px;
    }

    .content p {
      color: #394150;
      font-family: 'Sora', sans-serif;
      font-size: 14px;
      line-height: 1.6;
    }

    .etiqueta {
      color: #394150;
      font-family: 'Sora', sans-serif;
      font-size: 10px;
      border-top: solid 1px #E5EAF0;
    }
    .etiqueta p{
      padding-top: 20px;
    }

    .author-info {
      font-family: 'Sora',sans-serif;
      font-size: 14px;
      text-align: center;
      margin-top: 16px;
      color: rgb(55, 65, 81);
    }

    .author-info a {
      text-decoration: none;
      color: #7C19EE;
      font-weight: bold;
    }